:root{
    --main: hsl(14, 86%, 42%);
}
.text-main{
    color: var(--main)
}
.bg-main{
    background-color: var(--main);
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body{
    background-color: hsl(20, 50%, 98%);
}

.card-btn {
    position: absolute;
    z-index: 10;
    bottom: -18px;
    left: 30px;
    background-color: white;
    border-color: var(--main);
    color: black;
}

.img-container {
    position: relative;
    display: flex;
}

.increment-decrement {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-header{
    color: var(--main);
}

.cart{
    background-color: white;
}

.btn:hover {
    background-color: hsl(14, 56%, 60%);
  }
  .remove-item{
    border: none;
  }